.ProgressBar {
  height: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  background: rgb(225,225,225);
}

.ProgressBar-progress {
  height: 1rem;
  background: rgb(248, 5, 125);
	border-radius: 0.5rem;
	transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}